@model IEnumerable<Dot_Net_Developer_Test.Models.StockM>
@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>
<div class="row">
    <div class="col-6 mt-3">
        <a asp-action="List" asp-controller="StockM" class="btn btn-outline-primary"><i class="fa fa-arrow-circle-left"></i>Back To List</a>
    </div>
</div>

<table class="table table-bordered table-striped table-sm mt-2">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Trade_code)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.High)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Low)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Open)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Close)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Valume)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var StockM in Model)
        {
            <tr>
                <td>@StockM.Date</td>
                <td>@StockM.Trade_code</td>
                <td>@StockM.High</td>
                <td>@StockM.Low</td>
                <td>@StockM.Open</td>
                <td>@StockM.Close</td>
                <td>@StockM.Valume</td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-controller="StockM" asp-route-id="@StockM.Id"><i class="fa fa-edit"></i>Edit</a>
                </td>
                <td>
                    <a class="btn btn-danger" asp-action="Delete" asp-controller="StockM" asp-route-id="@StockM.Id" onclick="return confirm('Are You Sure!! You Want To Delete This??')"><i class="fa fa-trash"></i>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>